.stepRow {
  display: flex;
  align-items: flex-start;
  gap: var(--space-m);
}

.stepNumber {
  font-size: var(--space-xxxl);
  font-weight: 900;
  color: var(--blue-100, #b3e0fc);
  min-width: 1.2em;
  text-align: right;
  line-height: 1;
  margin-top: -0.1em;
  letter-spacing: -3px;
  margin-right: var(--space-xxs);
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
}

.stepContent {
  flex: 1;
}
.stepsSection {
  width: 100%;
  max-width: 800px;
  /* margin: 3rem auto 0 auto; */
  /* padding: 2rem 1rem; */
  padding: var(--section-md);
}

.stepsList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
}

.stepItem {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  background: var(--blue-50, #f8fbfd);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-sm);
  padding: var(--space-l) var(--space-m);
}

.stepTitle {
  font-size: var(--space-l);
  font-weight: 700;
  color: var(--blue-800);
  margin-bottom: var(--space-xxs);
}

.stepDesc {
  color: var(--grey-600);
  font-size: 1.07rem;
  line-height: 1.6;
}

@media (max-width: 700px) {
  .stepsSection {
    padding: var(--space-m) var(--space-xs);
  }
  .stepItem {
    padding: var(--space-m) var(--space-s);
  }
  /* .stepTitle {
    font-size: 1.08rem;
  }
  .stepDesc {
    font-size: 0.98rem;
  } */
}
