.desktopOnly {
  display: block;
}
.mobileOnly {
  display: none;
}

@media (max-width: 700px) {
  .desktopOnly {
    display: none !important;
  }
  .mobileOnly {
    display: block;
    width: 100%;
  }
}
.mobileStepsWrapper {
  display: none;
}

.mobileStep {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--space-l);
  margin: 2.2rem 0;
  width: 100%;
}
.mobileStepLeft {
  flex-direction: row;
}
.mobileStepRight {
  flex-direction: row-reverse;
}

@media (max-width: 700px) {
  .mobileStepsWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 0 0.5rem;
  }
  .processTabs .description,
  .processTabs .ProcessCircuit {
    display: none !important;
  }
}

.processTabs {
  padding: 4rem 12rem;
}
.processTabs p {

  color: var(--grey-500);
}
.description {
  margin-top: var(--space-xxxxl);
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-l);
}
.number {
  font-size: 10rem;
  font-weight: 800;
  min-width: 14rem;
  background: linear-gradient(90deg, var(--blue-700), var(--blue-400));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -2px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* border: 2px solid red; */
}
.descriptionText {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  justify-content: center;
}

@media (max-width: 900px) {
  .processTabs {
    padding: 4rem 1rem;
  }
  .description {
    flex-direction: column;
    width: 100%;
    gap: var(--space-m);
    margin-top: var(--space-xxl);
    align-items: flex-start;
    padding: 0 0.5rem;
    /* border: 2px solid red; */
  }
  .number {
    font-size: 4rem;
    min-width: 5rem;
    align-self: flex-start;
    justify-content: flex-start;
  }
  .descriptionText {
    gap: var(--space-s);
  }
}
