.faqSection {
  background: var(--grey-50);
  padding: var(--section-md);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.faqHeading {
  color: var(--blue-700);
  margin-bottom: var(--space-l);
}

.faqList {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}

.faqItem {
  background: var(--white);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-sm);
  overflow: hidden;
}

.faqQuestion {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  font-size: 1.08rem;
  font-weight: 600;
  color: var(--blue-900);
  padding: var(--space-l);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: background 0.15s;
}
.faqQuestion:hover {
  background: var(--blue-200);
}

.chevron {
  font-size: var(--space-m);
  color: var(--blue-700);
  margin-left: var(--space-s);
}

.faqAnswer {
  /* font-size: 1.05rem; */
  color: var(--grey-800);
  padding: var(--space-m);
  line-height: 1.6;
  border-top: 1px solid var(--blue-200);
  background: var(--white);
  transition:
    max-height 0.2s,
    opacity 0.2s;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding-top: var(--space-m);
}
.faqAnswer.open {
  max-height: 300px;
  opacity: 1;
  transition:
    max-height 0.3s,
    opacity 0.3s;
}

@media (max-width: 700px) {
  .faqSection {
    padding: var(--space-m) var(--space-s);
  }
  .faqHeading {
    font-size: var(--space-m);
  }
  .faqItem {
    font-size: var(--space-m);
  }
  .faqAnswer {
    font-size: var(--space-m);
  }
}
