.focusList {
  list-style: none;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding:  var(--section-md);
  /* border: 2px solid red; */
}
.focusList h3 {
  color: var(--blue-900);
  margin-bottom: var(--space-l);
}

.focusItem {
  font-size: var(--space-m);
  color: var(--grey-800, #2d3748);
  line-height: 1.7;
  margin-bottom: var(--space-m);
  padding-left: var(--space-xl);
  position: relative;
  display: flex;
  gap: var(--space-m);
}

@media (max-width: 900px) {
  .focusList {
    width: 100%;
  }
}