.howIWorkSection {
  /* padding:  var(--section-xs); */
  margin: var(--section-md);
  width: 50%;
  /* border: 2px solid red; */
}

.howIWorkSection h3 {
  color: var(--blue-900);
  margin-bottom: var(--space-l);
}

.paragraph {
  max-width: 80%;
}

@media (max-width: 900px) {
  .howIWorkSection {
    width: 100%;
  }
  .paragraph {
    max-width: 80%;
  }
}