.contactInfoSection {
  width: 30%;
  background: var(--blue-50);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-md);
  padding: var(--section-xxs);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.heading {
  /* font-size: 1.3rem; */
  /* font-weight: 700; */
  color: var(--blue-900);
  margin-bottom: var(--space-l);
}

.infoList {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}

.infoItem {
  display: flex;
  align-items: center;
  gap: var(--space-s);
  /* font-size: 1.08rem; */
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--blue-200);
  border-radius: 50%;
  width: 2.2em;
  height: 2.2em;
  min-width: 2.2em;
  min-height: 2.2em;
  box-shadow: var(--shadow-md);
}

.icon {
  color: var(--blue-700);
  font-size: var(--space-m);
}

.infoLabel {
  font-weight: 600;
  color: var(--blue-900);
  margin-right: var(--space-xxs);
}

.infoValue {
  color: var(--grey-900);
  font-weight: 500;
  word-break: break-all;
  text-decoration: none;
  transition: color 0.2s;
}

.infoValue:hover {
  color: var(--blue-700);
  text-decoration: underline;
}

@media (max-width: 700px) {
  .contactInfoSection {
    padding: var(--space-m) var(--space-s);
  }
  /* .heading { */
    /* font-size: 1.1rem; */
  /* } */
  /* .infoItem { */
    /* font-size: 0.98rem; */
  /* } */
}
