.contactForm {
  width: 60%;
  padding: var(--section-xxs);
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
  /* border: 2px solid red; */
}

@media (max-width: 900px) {
  .contactForm {
    width: 100%;
  }
}
