.contactPage {
  width: 100%;
  background-color: #f9fbfd;

}
.contactIntro {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  padding: var(--section-sm);
  /* width: 90%; */
  /* border: 2px solid red; */
}
.sideBySide {
  display: flex;
  justify-content: space-around;
  /* align-items: flex-end; */
  align-items: center;
  gap: var(--space-l);
  padding: var(--section-xs);
  /* border: 2px solid red; */
}
@media (max-width: 1000px) {
  .sideBySide {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: var(--space-xxl);
    gap: var(--space-xl);
  }
}