.select {
  height: 48px;
  padding: 0.7em 1.1em;
  border-radius: 0.7em;
  border: 2px solid var(--grey-300);
  font-size: 1.05rem;
  font-family: inherit;
  color: var(--foreground);
  background: var(--grey-100);
  transition:
    border 0.2s,
    box-shadow 0.2s;
  appearance: none;
  cursor: pointer;
}

.select:focus {
  outline: none;
  border-color: var(--blue-600);
  box-shadow: 0 0 0 2px var(--blue-200);
}
