.pillButton {
  display: flex;
  align-items: center;
  padding: 0.2rem 1.5rem;
  font-size: 0.95rem;
  font-weight: 700;
  border-radius: 999px;
  background: var(--blue-100);
  /* background: var(--accent-blue); */
  color: var(--blue-900);
  border: none;
  gap: var(--space-s);
  outline: none;
  cursor: pointer;
  transition: background 0.18s;
  letter-spacing: 0.01em;
  /* background: rgba(255, 255, 255, 0.9); */
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.pillButton:active,
.pillButton:focus {
  background: var(--blue-100);
}
