.blue {
    color: var(--blue-800);
}
.hero {
    background: var(--grey-900);
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: white;
}