.servicesSection {
  /* background: var(--grey-100); */
  padding: var(--section-lg);
  border: 1px solid rgba(0,0,0,0.05);
}

.heading {
  /* font-weight: 700; */
  /* color: var(--grey-500); */
  margin-bottom: var(--space-m);
  /* text-align: center; */
}
.subtext {
    color: var(--grey-700);
    /* font-size: 1.1rem; */
    /* text-align: center; */
    margin-bottom: var(--space-xxxl);
}

.cardsWrapper {
  display: flex;
  gap: var(--space-l);
  /* justify-content: center; */
  /* flex-wrap: wrap; */
}
.bottomButton {
    display: flex;
    justify-content: end;
}

.cardsWrapper > * {
  flex: 1 1 300px;
  min-width: 260px;
  max-width: 350px;
}

@media (max-width: 900px) {
  .servicesSection {
    padding: var(--section-sm);
  }
  .cardsWrapper {
    gap: var(--space-l);
  }
  /* .heading { */
    /* font-size: 1.5rem; */
  /* } */
}
