.servicesSection {
  padding: var(--section-lg);
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.heading {
  margin-bottom: var(--space-m);
}
.subtext {
  color: var(--grey-700);
  margin-bottom: var(--space-xxl);
}

.cardsWrapper {
  display: flex;
  gap: var(--space-l);
}
.bottomButton {
  display: flex;
  justify-content: end;
  margin-top: auto;
}

.cardsWrapper > * {
  flex: 1 1 300px;
  min-width: 260px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 900px) {
  .servicesSection {
    padding: var(--section-sm);
  }
  .cardsWrapper {
    gap: var(--space-l);
  }
}
