/* Features Section */
.features {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  background: var(--grey-50);
  padding: var(--section-lg);
}
.rightTitle {
  font-weight: 700;
  color: var(--grey-700);
  margin-bottom: var(--space-l);
}
.featuresGrid {
  margin: var(--space-xs) 0 0 0;
  padding-left: 0;
  color: var(--grey-800);
  font-size: var(--space-m);
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-xs) var(--space-xl);
}

.featureItem {
  display: flex;
  align-items: flex-start;
  gap: 0.7em;
  margin-bottom: var(--space-xxs);
  padding: 0.7em 1em;
  font-size: 1.04rem;
}

.featureIcon {
  color: var(--blue-500);
  font-size: 1.25em;
  flex-shrink: 0;
  margin-top: 0.1em;
}
@media screen and (max-width: 900px) {
  .featuresGrid {
    grid-template-columns: 1fr;
    gap: var(--space-xs);
  }
}
