.projectsSection {
  padding: var(--section-md);
  /* margin: 3rem auto; */
}

.heading {
  /* font-size: 2.2rem; */
  /* font-weight: 700; */
  /* color: var(--grey-900); */
  margin-bottom: var(--space-xl);
  text-align: center;
}

.carousel {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
}

.projectCard {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* border-radius: var(--radius-md); */
  overflow: hidden;
  align-items: stretch;
    flex: 1 1 260px;
  /* min-width: 220px; */
  /* max-width: 340px; */
  max-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
}

.imageWrapper {
  flex: 1 1 260px;
  min-width: 220px;
  max-width: 340px;
  max-height: 200px;
  display: flex;
  border: var(--border-light);
  box-shadow: var(--shadow-sm);
  /* border: 2px solid red; */
}

.projectImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: top;
  border-radius: var(--radius-m);
  /* border: 2px solid red; */
}

.projectDetails {
  flex: 2 1 400px;
  padding: var(--section-xxs);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projectName {
  /* font-size: 1.5rem; */
  /* font-weight: 700; */
  color: var(--blue-900);
  margin-bottom: var(--space-xs);
}

.projectDescription {
  /* font-size: 1.1rem; */
  color: var(--grey-800);
  margin-bottom: var(--space-m);
}

.techList {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-s);
  margin-bottom: var(--space-l);
}

.techItem {
  background: var(--blue-100);
  color: var(--blue-800);
  font-size: var(--space-m);
  font-weight: 600;
  border-radius: var(--radius-sm);
  padding: var(--space-xs) var(--space-s);
}
@media (max-width: 900px) {
  .projectCard {
    flex-direction: column;
    min-height: unset;
  }
  .imageWrapper {
    max-width: 100%;
    border-radius: 1.5rem 1.5rem 0 0;
  }
  .projectImage {
    border-radius: var(--radius-md) var(--radius-md) 0 0;
  }
  .projectDetails {
    padding: var(--space-m);
  }
}
