.toolsSection {
  width: 100%;
  background: var(--blue-900);
  color: var(--white);
  padding: var(--section-xl);
  display: flex;
  flex-direction: column;
  align-items: start;
  /* align-items: center; */
}

.heading {
  /* font-size:var(--space-xl); */
  /* font-weight: 800; */
  margin-bottom: var(--space-xl);
  color: var(--white);
  /* text-align: center; */
}

.toolsGrid {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-l);
  /* justify-content: center; */
  width: 100%;
}

.toolPill {
  display: flex;
  align-items: center;
  gap: var(--space-s);
  background: var(--blue-100);
  color: var(--blue-800);
  font-weight: 700;
  font-size: var(--space-m);
  border-radius: var(--radius-sm);
  padding: var(--space-xs) var(--space-m);
  box-shadow: var(--shadow-sm);
  transition:
    background 0.18s,
    color 0.18s;
  cursor: default;
  user-select: none;
  transition:
    transform var(--transition-fast),
    background-color var(--transition-fast);
}
.toolPill:hover {
  background: var(--blue-200);
  color: var(--blue-900);
}
.icon {
  font-size: var(--space-m);
  display: flex;
  align-items: center;
}
.toolName {
  font-weight: 700;
  letter-spacing: -0.5px;
}

@media (max-width: 700px) {
  .toolsSection {
    /* padding: 2rem 0.5rem; */
    /* border-radius: 0.7rem; */
  }
  .heading {
    /* font-size: 1.2rem; */
    margin-bottom: var(--space-l);
  }
  .toolsGrid {
    gap: var(--space-m);
    row-gap: var(--space-l);
  }
  .toolPill {
    /* font-size: 0.98rem; */
    padding: var(--space-xs) var(--space-m);
  }
}
