.testimonialSection {
  background: var(--grey-50);
  color: var(--blue-900);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonialText {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.7;
  max-width: 65%;
  height: 100%;
  letter-spacing: 0.01em;
  font-style: italic;
  padding-top: var(--space-xs);
  color: var(--blue-900);
  padding: var(--space-xl);
  /* border: 2px solid orange; */
  display: flex;
  flex-direction: column;
}
.authorImage {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: var(--space-,);
}
.bigQuote {
  color: var(--accent-blue);
  font-size: var(--space-xxxl);
  font-weight: 900;
  line-height: 1;
  /* position: absolute; */
  /* left: 0; */
  /* top: -0.2em; */
  /* transform: translateX(-1.2em); */
  font-family: serif;
  z-index: 1;
}

.authorWrapper {
  margin-top: var(--space-xl);
  width: 100%;
  display: flex;
  align-items: center;
}

.testimonialAuthor {
  color: var(--blue-800);
  font-size: var(--space-m);
  font-weight: 700;
  letter-spacing: 0.03em;
  font-style: normal;
}

@media (max-width: 700px) {
  .testimonialSection {
    padding: var(--space-l) var(--space-s);
  }
  .testimonialText {
    /* font-size: 1rem; */
    padding: var(--section-xxs);
  }
  .bigQuote {
    font-size: var(--space-xl);
    left: 0;
    top: -0.1em;
    transform: translateX(-0.7em);
  }
  .authorWrapper {
    margin-top: var(--space-m);
  }
  /* .testimonialAuthor {
    font-size: 1rem;
  } */
}
