/* Main Container */
.mainContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background: var(--white);
}

.mainContainer h2 {
  position: relative;
  margin-bottom: var(--space-xl);
  display: flex;
  align-items: center;
  /* font-weight: 700; */
  /* border-left: 2px solid var(--blue-200); */
  /* padding-left: 2rem; */
}
.mainContainer section {
  padding: var(--section-md);
}

/* Process */
.processTabs {
  padding: var(--space-m) 0 var(--space-xs) 0;
  /* border-bottom: 1.5px solid var(--blue-100); */
}

