/* Main Container */
.mainContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background: var(--white);
}
.mainContainer h1 {
  font-size: 4rem;
  line-height: 1.5;
}
.mainContainer h2 {
  position: relative;
  margin-bottom: var(--space-xl);
  display: flex;
  align-items: center;
}
.mainContainer section {
  padding: var(--section-lg);
}
.keyPages {
  border-top: 2px solid var(--accent-blue);
  padding-top: 4rem;
}
.testimonial {
  background: var(--grey-25);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-md);
  border: 1.5px solid var(--blue-100);
  padding: var(--space-xxl) var(--space-xl);
  margin: var(--space-xl) 0;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 900px) {
  .mainContainer {
    margin: 0;
  }
  .mainContainer section {
    padding: var(--section-xl);
  }
  .mainContainer h1 {
    font-size: 2.5rem;
  }
  .mainContainer h2 {
    font-size: 1.5rem;
    margin-bottom: var(--space-l);
  }
}
